@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "details";
}

<div>
    <h1>Welcome to the details page</h1>
</div>
