@page
@model RazorApp.Pages.DetailsModel
@{
    ViewData["Title"] = "Personal Information";
}


<form>
    <p>
        <label>Search</label>
        <input type="text" asp-for="SearchTerm"/>
        <input type="submit" value="Search" />
    </p>
</form>

<div>
    <ul>
       @foreach (var item in Model.People)
       {
            <li>@item.FirstName</li>
       }
    </ul>
</div>

<form method="post">
    <div>
      FirstName: <input type="text" asp-for="NewPerson.FirstName"/>
    </div>
    <div>
       LastName: <input type="text"  asp-for="NewPerson.LastName"/>
    </div>
    <button type="submit">Submit</button>
</form>

<form method="post">
    <div>
        FirstName: <input type="text" asp-for="NewPerson.FirstName" />
    </div>
    <div>
        LastName: <input type="text" asp-for="NewPerson.LastName" />
    </div>
    <button type="submit" asp-page-handler="Delete">Submit</button>
</form>

